<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edu.News">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/app_icon"
        android:largeHeap="true"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.example.edu.News.activity.splashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.edu.News.activity.CollectActivity" />
        <activity android:name="com.example.edu.News.activity.CoverActivity" />
        <activity android:name="com.example.edu.News.activity.EditmineActivity" />
        <activity android:name="com.example.edu.News.activity.MainActivity" />
        <activity android:name="com.example.edu.News.activity.ShowNewsActivity" />
        <activity android:name="com.example.edu.News.activity.LoginActivity" />
        <activity android:name="com.example.edu.News.activity.RegisterActivity" />
        <activity android:name="com.example.edu.News.activity.lodingActivity" />
    </application>

</manifest>